@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: whitesmoke;
  --foreground: black;
  --foreground-diminished: gray;
  --background-highlighted: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: whitesmoke;
    --background-highlighted: rgb(37, 37, 37);
    --foreground-diminished: rgb(204, 204, 204);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
